.logo {
  width: 210px;
  margin-right: 50px;
  border-radius: 50px;
  

}

.nav-link {
  font-weight: 500;
  font-size: xx-large;
  cursor: pointer;
  color: aliceblue !important;
  background-image: linear-gradient(to top, #070707, rgb(23, 95, 228)) !important;
  border-radius: 20px;
  margin-right: 40px
  ;

}

body {
  position: relative;
  background: url(tech.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  flex-direction:column;
  color: aliceblue;
  padding: 30px;
 
  
  
}

.typed-text {
  font-size: xx-large;
  color: aliceblue;
}

.jumbotron {
  color:aliceblue;
  background-image: linear-gradient(to bottom, #000000, rgb(23, 95, 228)) !important;
  border-radius: 20px !important;
 
}

.card {
  margin: 20px;
  background-color: black !important;
}
.footer {
  color: aliceblue;
  text-align: center;
  background-color: black;
}